<div style="display:flex; flex-direction: column; align-items:center; justify-content:center;">
  <div><h1><p>Welcome to better days!</p></h1></div>
  <div><article><p>Findi is a platform that has the objective to get your friends together at the same place!</p>
  <p>Enjoy your life with your friends!</p></article></div>
  <div><p><a href="http://localhost:3000/">Visit us again!</a></p></div>
</div>
