.chat-general{
  height: 85vh;
  background:#f8eee7;
  margin: 0;
}

.chat-groups {
  padding: 0;
  height: 85vh;
}

.chat-messages{
  overflow-y: auto;
  overflow-x: hidden;
}

#chat-content {
  overflow-y: auto;
  overflow-x: hidden;
}

#message-user-content{
  background:#e5c3ca;
  padding:10px;
  border:1px solid lightgrey;
  border-radius:10px;
}

#message-invite-content{
  background:white;
  padding:10px;
  border:1px solid lightgrey;
  border-radius:10px;
}

.chat-input-form{
  background:#EEF0F2;
  padding:10px;
}

i {
  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
}

@media (max-width: 991.98px) {
  .chat-general{
    background: white;
    border-top: 1px solid #5c005c;
  }
}
