#container{
// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// padding: 10px;
// justify-content: center;
// align-items: center;
// padding-top: 40px;
// margin-top: 10%;
// padding-bottom: 50px;
background-color: #EEF0F2;
// border-radius: 3%;

margin-top: 20%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width:300px;
padding: 20px;
justify-content: center;
align-items: center;
border-radius:4px;
opacity: 0.9;

}

.box{
}
