.title-show-banner-content{
  background:#ce6a85;
  left: 2vh;
  bottom: 0px;
  padding: 2px 20px;
  max-width: 35vw;
  color:white;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
}

.title-show-banner-xs-md{
  background:#ce6a85;
  color:white;
  opacity: 0.8;
}

.details-show-content{
  padding:10px;
  background: #EEF0F2;
  z-index: 1;
}

.text-suggestion{
  color:#4d4d4d;
}

article{
  color:#666666;
  font-size:20px;
}

.data-location{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.menu-add{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  i {
    cursor: pointer;
    opacity: 1;
    &:hover {
      opacity: 0.8;
      transition: 0.2s;
    }
  }
}

#menu-add-space{
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .menu-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  #menu-add-space{
    margin-bottom: 0px;
  }

  .data-location{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  #data-location-space{
    margin-bottom: 20px;
  }
}

#selected-suggestion {
  cursor: pointer;
  span:hover {
    // transition: 0.5s;
    // color: #5C005C;
  }
}

    //  .modal-content {
    //   width: 100%;
    // }

#mapModal {
  .modal-body {
    //    position: relative;
    // flex: 1 1 auto;
    // padding: 1rem;
    height: 400px;
  }
}


// .mapboxgl-canvas {
  // height: 100% !important;
  // width: 100% !important;
 // }


// @media (min-width: 768px) {
//   #mapModal {
//     .modal-content {
//       height: 80vh;
//     }
//     .modal-dialog {
//       max-width: 500px !important;
//       max-height: 500px !important;
//     }
//     .modal-body {
//       height: 500px;
//       width: 500px;
//     }
//     // .mapboxgl-canvas {
//     //   height: 100% !important;
//     //   width: 100% !important;
//     // }
//   }
// }
