.title-show-banner-content{
  background:#ce6a85;
  left: 5vh;
  bottom: 0px;
  padding: 2px 20px;
  width: 30vw;
  color:white;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
}

.details-show-content{
  height: 30vh;
  padding:10px;
  background: #EEF0F2;
  z-index: 1;
}

.text-suggestion{
  color:#4d4d4d;
}

.details-content-left{
  width: 30vw;
  height: 26vh;
}

.details-content-right{
  width: 20vw;
  height: 26vh;
}

article{
  color:#666666;
  font-size:20px;
}
