.title-show-banner-content{
  background:#ce6a85;
  margin-top: 430px;
  margin-left: 85px;
  padding: 2px 40px;
  color:white;
  z-index: 2;
}

.details-show-content{
  height: 30vh;
  padding:30px;
  background: #eef0f2;
  box-shadow: 4px 0px 12px 1px rgba(150, 150, 150, 0.2);
  z-index: 1;
}
