<div style="height: 85vh; background:#f8eee7;">
  <div class="row" style="height:85vh; margin: 0;">
    <div class="col-12 d-flex flex-column justify-content-between chat-groups" style="height: 85vh;">
      <div class="row ml-2 mt-2">
        <div>
          <p class= "chat-contact"><strong>Fiti Admin</strong></p>
          <div>
            <p class="box">Welcome to your event chat</p>
          </div>
        </div>
      </div>
        <% @messages.each do |message|%>
          <% if message.event.user == current_user %>
          <div class="row ml-2 mt-2">
            <div>
              <p class= "chat-contact"><strong><%= message.event.user.email %></strong></p>
              <div>
                <p class="box"><%= message.content %></p>
              </div>
            </div>
          </div>
          <% else %>
            <div class="row">
              <p class="box-user"><%= message.content %></p>
            </div>
          <% end %>
        <% end %>
      <div class="row chat-input mb-2 ml-2 mr-2" style="height:5vh;">
        <div class="col-md-6" style="text-align:center;">
        </div>
      </div>
    </div>
  </div>
</div>
