<h1>Invite#invitation</h1>

<p>
  <p>Hello <%= @email %>,</p>
  <p><%= @message %></p>
  <p><a href="https://findi-online.herokuapp.com/users/sign_up/?email=<%=@email%>">Your friend wants your presence on a event! come and see!</a></p>
</p>
