.simple-calendar .day {
  height: 30px;
width: 20px;
  .active {
    background-color: #D11010;
  }
}

.simple-calendar {
  .has-events {
    background-color: #D11010;
  }
}

#daytext {
  font-size: 14px;
}
