// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "login";
@import "calendar";
@import "card";

#container-with-title {
  // margin-bottom: 20px;
  // margin-top: 20px;
  h1 {
    font-size: 2rem;
    color: #666666;
  }
}

#right-container {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
}

#inputbox {
  width: 130px;
  background-color: rgba(#5C005C, 0.8);
  border-radius: 3px;
  height: 38px;
  padding: 0px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(#5C005C, 1);
  }
}

#event_photo {
  opacity: 0;
}
