#findiBox{
background-image: url('findi_login.jpg');
background-size: cover;
padding: 340px;
}

#signup-form{
  width:20rem;
  justify-content: center;
}

#avatar2 {
  border-radius:50%;
  width:20%;
  height:20%;
  margin-bottom: 20px;
  margin-top:20px;
}
