.navbar-lewagon {
  justify-content: space-between;
  background: #eef0f2;
  box-shadow: 4px 8px 12px 1px rgba(150, 150, 150, 0.2);
  z-index: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
