.navbar-lewagon {
  justify-content: space-between;
  background: #eef0f2;
  box-shadow: 4px 8px 12px 1px rgba(150, 150, 150, 0.2);
  z-index: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  img {
    width: 60px;
  }

  .findi-logo {
    width: 60px;
    height: 29px;
    background-image: url("logo.png");
    background-size: cover;
    &:hover {
      background-image: url("logo_purple.png");
      transition: 0.1s;
    }
  }
}

#nav-icon {
  font-size: 26px;
  color: #5C005C;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  #invites-count {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    color: white;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    top: 5%;
    left: 60%;
  }
}

#events-list-icon {
  font-size: 26px;
  color: #5C005C;
  position: relative;
  cursor: pointer;
  padding: 8px;
  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}
